[defaults]
inventory = inventory/production/hosts.yml
private_key_file = ~/.ssh/id_ed25519
remote_user = oilcloth
host_key_checking = False
retry_files_enabled = False

[privilege_escalation]
become = True
become_method = sudo
